body {
    background: #131b21;
}

.container {
    width: 50%;
    margin: 0 auto; 
    z-index: 99;
}

svg#flower-frame {
    height: 90vh;
    width: 100%;
}

#Footer_group_1_,
[id^="PinkFlowerGroup"],
[id^="BaseGroup"] path,
[id^="LeafGroup"] path,
path[id^="Stroke"],
g[id^="BudGroup"] g[id^="BudGroup"] g[id^="Bud"],
#Bud8_1_,
#Bud10_1_,
#Bud23_1_,
#Bud26_1_,
[id^="Dots"],
[id^="Flourish"] {
    visibility: hidden;
}

body {
    background-color: #111;
    color: #fff;
    padding: 140px 0px 0px 0px;
}

h1 {
    background-color: rgba(256, 256, 256, 0.03);
    background-image: -webkit-linear-gradient(top, #111, #0c0c0c);
    background-image: -moz-linear-gradient(top, #111, #0c0c0c);
    background-image: -ms-linear-gradient(top, #111, #0c0c0c);
    background-image: -o-linear-gradient(top, #111, #0c0c0c);
    font-size: 2em;
    font-family: "Amethysta", serif;
    text-align: center;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    white-space: nowrap;
}

.main {
    padding: 80px;
    font-size: 40px;
}

span {
    color: #000;
    font-family: "Caesar Dressing", cursive;
    font-size: 3em;
    text-transform: lowercase;
    vertical-align: middle;
    letter-spacing: 0.2em;
}

.happy {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fade-in 5s forwards;
    animation-delay: 3s;
    z-index: -1;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.fire {
    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
    animation: animation 0.65s ease-in-out infinite alternate;
    -moz-animation: animation 0.65s ease-in-out infinite alternate;
    -webkit-animation: animation 0.65s ease-in-out infinite alternate;
    -o-animation: animation 0.65s ease-in-out infinite alternate;
}

@keyframes animation {
    0% {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
            -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
            -20px -60px 60px #cd4606, 0 -80px 70px #973716,
            10px -90px 80px #451b0e;
    }
    100% {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
            -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
            -22px -58px 50px #ec760c, 0 -82px 80px #cd4606,
            10px -90px 80px #973716;
    }
}

@-moz-keyframes animation {
    0% {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
            -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
            -20px -60px 60px #cd4606, 0 -80px 70px #973716,
            10px -90px 80px #451b0e;
    }
    100% {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
            -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
            -22px -58px 50px #ec760c, 0 -82px 80px #cd4606,
            10px -90px 80px #973716;
    }
}

@-webkit-keyframes animation {
    0% {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
            -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
            -20px -60px 60px #cd4606, 0 -80px 70px #973716,
            10px -90px 80px #451b0e;
    }
    100% {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
            -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
            -22px -58px 50px #ec760c, 0 -82px 80px #cd4606,
            10px -90px 80px #973716;
    }
}

@-o-keyframes animation {
    0% {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
            -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
            -20px -60px 60px #cd4606, 0 -80px 70px #973716,
            10px -90px 80px #451b0e;
    }
    100% {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
            -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
            -22px -58px 50px #ec760c, 0 -82px 80px #cd4606,
            10px -90px 80px #973716;
    }
}
